.container{
    height: 83vh;
    background-color:lightskyblue;
    padding:30px;
}

.createPage{
    position: relative;
    width: 800px;
    height: 70vh;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: aquamarine;
    box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
    margin: auto auto;
}

input[type="text"]  {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

label{
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;

}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 5em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.submitBtn{
    padding: 10px 30px;
    border-radius: 16px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    background-color: #ff6555;
    border: #ff6555 ;
    align-items: center;
    color: white;
}

.header{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 26px;
    color:deepskyblue;
}