.container{
    height: 83vh;
    background-color: lightseagreen
}

.image{
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.header{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.description{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    color: lightgray;
}

.detailsBtn{
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
    background-color: #ff6555;
    border: #ff6555 ;
    align-items: center;
    color: white;
}