.footer{
    background-image: url("https://people.com/thmb/9sKHZrCCJdaKjl-zutpBojReq04=/1024x256/filters:no_upscale():max_bytes(150000):strip_icc()/Pets-2-441973cd10f34ff392a8cf64edb96ae6.png");
    height: 5vh;
    margin: 0px;
}